{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static crispy_forms_tags %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">
                    {% if object %}Редактировать животное{% else %}Добавить новое животное{% endif %}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% crispy form %}

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}